{% extends 'base.html' %}

{% block content %}
 <h1>Air Info</h1>
</br>
{% if api %}
    {% if api == 'Error' %}
        There was a Error
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">{{ api.0.Category.Name }} - {{ api.0.AQI }}</h1>
            <p class="lead">{{ api.0.ReportingArea }} </p>
            <hr class="my-4">
            <p>Add area zipcode to get the air quality.(Only US)</p>
            <p>It uses <strong>AirNow API</strong> for getting the data</p>
        </div>
    {% endif %}
 {% endif %}
{% endblock %}